In [5]:
# Import Dependencies

import pandas as pd
import numpy as np

In [6]:
# Import csv into DataFrame

tdot_df_raw = pd.read_csv("../Resources/Major_Crime_Indicators.csv")

tdot_df_raw

,X,Y,Index_,event_unique_id,Division,occurrencedate,reporteddate,location_type,premises_type,ucr_code,...,occurrencedayofyear,occurrencedayofweek,occurrencehour,cleared,mci_category,Hood_ID,Neighbourhood,Longitude,Latitude,ObjectId
0,-8.850398e+06,5.429359e+06,201,GO-20141273318,D31,2014/01/03 05:00:00+00,2014/01/03 05:00:00+00,"Apartment (Rooming House, Condo)",Apartment,1430,...,3.0,Friday,11,NO,Assault,27,York University Heights,-79.504475,43.766371,1
1,-8.818405e+06,5.436836e+06,202,GO-20141274349,D42,2014/01/03 05:00:00+00,2014/01/03 05:00:00+00,"Single Home, House (Attach Garage, Cottage, Mo...",House,2120,...,3.0,Friday,14,NO,Break and Enter,132,Malvern,-79.217083,43.814861,2
2,-8.853791e+06,5.402071e+06,203,GO-20141274052,D22,2014/01/03 05:00:00+00,2014/01/03 05:00:00+00,"Open Areas (Lakes, Parks, Rivers)",Outside,1430,...,3.0,Friday,13,NO,Assault,19,Long Branch,-79.534957,43.589085,3
3,-8.832822e+06,5.419628e+06,204,GO-20141276966,D53,2014/01/03 05:00:00+00,2014/01/03 05:00:00+00,Other Commercial / Corporate Places (For Profi...,Commercial,2130,...,3.0,Friday,12,YES,Theft Over,55,Thorncliffe Park,-79.346588,43.703212,4
4,-8.853452e+06,5.410706e+06,205,GO-20141274457,D22,2014/01/03 05:00:00+00,2014/01/03 05:00:00+00,Convenience Stores,Commercial,1610,...,3.0,Friday,14,NO,Robbery,14,Islington-City Centre West,-79.531916,43.645247,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301228,-8.844901e+06,5.433057e+06,301113,GO-20221234233,D32,2022/06/28 04:00:00+00,2022/06/29 04:00:00+00,"Single Home, House (Attach Garage, Cottage, Mo...",House,2135,...,179.0,Tuesday,20,NO,Auto Theft,35,Westminster-Branson,-79.455098,43.790363,301229
301229,-8.820395e+06,5.430803e+06,301114,GO-20221234061,D43,2022/06/28 04:00:00+00,2022/06/29 04:00:00+00,"Parking Lots (Apt., Commercial Or Non-Commercial)",Outside,2135,...,179.0,Tuesday,21,NO,Auto Theft,137,Woburn,-79.234954,43.775740,301230
301230,-8.825525e+06,5.429271e+06,301115,GO-20221234664,D41,2022/05/20 04:00:00+00,2022/06/29 04:00:00+00,Other Commercial / Corporate Places (For Profi...,Commercial,2135,...,140.0,Friday,12,YES,Auto Theft,126,Dorset Park,-79.281037,43.765801,301231
301231,0.000000e+00,0.000000e+00,301116,GO-20221235156,D41,2022/06/29 04:00:00+00,2022/06/29 04:00:00+00,"Parking Lots (Apt., Commercial Or Non-Commercial)",Outside,2135,...,180.0,Wednesday,0,NO,Auto Theft,NSA,NSA,0.000000,0.000000,301232
301232,-8.854585e+06,5.426966e+06,301117,GO-20221236298,D31,2022/06/29 04:00:00+00,2022/06/29 04:00:00+00,"Parking Lots (Apt., Commercial Or Non-Commercial)",Outside,2135,...,180.0,Wednesday,16,NO,Auto Theft,22,Humbermede,-79.542092,43.750849,301233

In [7]:
# Clean Data

# Remove unneccessary columns

tdot_df = tdot_df_raw[['premises_type','occurrenceyear', 'occurrencemonth','occurrencedayofweek','occurrencehour',
       'mci_category', 'Hood_ID', 'Neighbourhood', 'Longitude',
       'Latitude','ObjectId']]

tdot_df

,premises_type,occurrenceyear,occurrencemonth,occurrencedayofweek,occurrencehour,mci_category,Hood_ID,Neighbourhood,Longitude,Latitude,ObjectId
0,Apartment,2014.0,January,Friday,11,Assault,27,York University Heights,-79.504475,43.766371,1
1,House,2014.0,January,Friday,14,Break and Enter,132,Malvern,-79.217083,43.814861,2
2,Outside,2014.0,January,Friday,13,Assault,19,Long Branch,-79.534957,43.589085,3
3,Commercial,2014.0,January,Friday,12,Theft Over,55,Thorncliffe Park,-79.346588,43.703212,4
4,Commercial,2014.0,January,Friday,14,Robbery,14,Islington-City Centre West,-79.531916,43.645247,5
...,...,...,...,...,...,...,...,...,...,...,...
301228,House,2022.0,June,Tuesday,20,Auto Theft,35,Westminster-Branson,-79.455098,43.790363,301229
301229,Outside,2022.0,June,Tuesday,21,Auto Theft,137,Woburn,-79.234954,43.775740,301230
301230,Commercial,2022.0,May,Friday,12,Auto Theft,126,Dorset Park,-79.281037,43.765801,301231
301231,Outside,2022.0,June,Wednesday,0,Auto Theft,NSA,NSA,0.000000,0.000000,301232
301232,Outside,2022.0,June,Wednesday,16,Auto Theft,22,Humbermede,-79.542092,43.750849,301233

In [8]:
# Convert NSA values to NaN

tdot_df_drp = tdot_df.replace("NSA",np.nan)

# Remove rows with incomplete data

tdot_df_drp = tdot_df_drp.dropna().reset_index(drop=True)

print(f"The total number of rows dropped is: {len(tdot_df.index)-len(tdot_df_drp.index)}")

tdot_df_drp

The total number of rows dropped is: 5027

,premises_type,occurrenceyear,occurrencemonth,occurrencedayofweek,occurrencehour,mci_category,Hood_ID,Neighbourhood,Longitude,Latitude,ObjectId
0,Apartment,2014.0,January,Friday,11,Assault,27,York University Heights,-79.504475,43.766371,1
1,House,2014.0,January,Friday,14,Break and Enter,132,Malvern,-79.217083,43.814861,2
2,Outside,2014.0,January,Friday,13,Assault,19,Long Branch,-79.534957,43.589085,3
3,Commercial,2014.0,January,Friday,12,Theft Over,55,Thorncliffe Park,-79.346588,43.703212,4
4,Commercial,2014.0,January,Friday,14,Robbery,14,Islington-City Centre West,-79.531916,43.645247,5
...,...,...,...,...,...,...,...,...,...,...,...
296201,House,2022.0,June,Tuesday,23,Auto Theft,60,Woodbine-Lumsden,-79.308515,43.695118,301228
296202,House,2022.0,June,Tuesday,20,Auto Theft,35,Westminster-Branson,-79.455098,43.790363,301229
296203,Outside,2022.0,June,Tuesday,21,Auto Theft,137,Woburn,-79.234954,43.775740,301230
296204,Commercial,2022.0,May,Friday,12,Auto Theft,126,Dorset Park,-79.281037,43.765801,301231
296205,Outside,2022.0,June,Wednesday,16,Auto Theft,22,Humbermede,-79.542092,43.750849,301233

In [9]:
# Groupby Month

tdot_df_drp.groupby(by='occurrencemonth').count()['ObjectId']

occurrencemonth
April        24699
August       24472
December     22750
February     22457
January      25189
July         24785
June         27025
March        25070
May          27001
November     23827
October      24880
September    24051
Name: ObjectId, dtype: int64

In [10]:
# Groupby day of week

tdot_df_drp.groupby(by='occurrencedayofweek').count()['ObjectId']

occurrencedayofweek
Friday        44731
Monday        41245
Saturday      43918
Sunday        42267
Thursday      41681
Tuesday       40587
Wednesday     41777
Name: ObjectId, dtype: int64

In [14]:
# Groupby assault type

tdot_df_drp.groupby(by=['occurrenceyear','mci_category']).count()['ObjectId'].to_csv("../Resources/temp2.csv")

In [12]:
# Groupby Year and Neighbourhood

tdot_df_drp.groupby(by=['occurrenceyear','Neighbourhood']).count()['ObjectId']

occurrenceyear  Neighbourhood
2000.0          Annex                        1
                Bedford Park-Nortown         1
                Birchcliffe-Cliffside        2
                Cliffcrest                   1
                Downsview-Roding-CFB         1
                                          ...
2022.0          Wychwood                    78
                Yonge-Eglinton             100
                Yonge-St.Clair              49
                York University Heights    398
                Yorkdale-Glen Park         256
Name: ObjectId, Length: 1765, dtype: int64