In [1]:
# Import Dependencies

import pandas as pd
import numpy as np

In [2]:
# Import csv into DataFrame

tdot_df_raw = pd.read_csv("../Resources/Major_Crime_Indicators.csv")

tdot_df_raw.columns

Index(['X', 'Y', 'Index_', 'event_unique_id', 'Division', 'occurrencedate',
       'reporteddate', 'location_type', 'premises_type', 'ucr_code', 'ucr_ext',
       'offence', 'reportedyear', 'reportedmonth', 'reportedday',
       'reporteddayofyear', 'reporteddayofweek', 'reportedhour',
       'occurrenceyear', 'occurrencemonth', 'occurrenceday',
       'occurrencedayofyear', 'occurrencedayofweek', 'occurrencehour',
       'cleared', 'mci_category', 'Hood_ID', 'Neighbourhood', 'Longitude',
       'Latitude', 'ObjectId'],
      dtype='object')

In [3]:
# Clean Data

# Remove unneccessary columns

tdot_df = tdot_df_raw[['premises_type','occurrenceyear', 'occurrencemonth','occurrencedayofweek','occurrencehour',
       'mci_category', 'Hood_ID', 'Neighbourhood', 'Longitude',
       'Latitude','ObjectId']]

## Remove rows with incomplete data

tdot_df

,premises_type,occurrenceyear,occurrencemonth,occurrencedayofweek,occurrencehour,mci_category,Hood_ID,Neighbourhood,Longitude,Latitude,ObjectId
0,Apartment,2014.0,January,Friday,11,Assault,27,York University Heights,-79.504475,43.766371,1
1,House,2014.0,January,Friday,14,Break and Enter,132,Malvern,-79.217083,43.814861,2
2,Outside,2014.0,January,Friday,13,Assault,19,Long Branch,-79.534957,43.589085,3
3,Commercial,2014.0,January,Friday,12,Theft Over,55,Thorncliffe Park,-79.346588,43.703212,4
4,Commercial,2014.0,January,Friday,14,Robbery,14,Islington-City Centre West,-79.531916,43.645247,5
...,...,...,...,...,...,...,...,...,...,...,...
301228,House,2022.0,June,Tuesday,20,Auto Theft,35,Westminster-Branson,-79.455098,43.790363,301229
301229,Outside,2022.0,June,Tuesday,21,Auto Theft,137,Woburn,-79.234954,43.775740,301230
301230,Commercial,2022.0,May,Friday,12,Auto Theft,126,Dorset Park,-79.281037,43.765801,301231
301231,Outside,2022.0,June,Wednesday,0,Auto Theft,NSA,NSA,0.000000,0.000000,301232
301232,Outside,2022.0,June,Wednesday,16,Auto Theft,22,Humbermede,-79.542092,43.750849,301233

In [4]:
# Convert NSA values to NaN

tdot_df_drp = tdot_df.replace("NSA",np.nan)

tdot_df_drp = tdot_df_drp.dropna().reset_index(drop=True)

print(f"The total number of rows dropped is: {len(tdot_df.index)-len(tdot_df_drp.index)}")

tdot_df_drp

The total number of rows dropped is: 5027

,premises_type,occurrenceyear,occurrencemonth,occurrencedayofweek,occurrencehour,mci_category,Hood_ID,Neighbourhood,Longitude,Latitude,ObjectId
0,Apartment,2014.0,January,Friday,11,Assault,27,York University Heights,-79.504475,43.766371,1
1,House,2014.0,January,Friday,14,Break and Enter,132,Malvern,-79.217083,43.814861,2
2,Outside,2014.0,January,Friday,13,Assault,19,Long Branch,-79.534957,43.589085,3
3,Commercial,2014.0,January,Friday,12,Theft Over,55,Thorncliffe Park,-79.346588,43.703212,4
4,Commercial,2014.0,January,Friday,14,Robbery,14,Islington-City Centre West,-79.531916,43.645247,5
...,...,...,...,...,...,...,...,...,...,...,...
296201,House,2022.0,June,Tuesday,23,Auto Theft,60,Woodbine-Lumsden,-79.308515,43.695118,301228
296202,House,2022.0,June,Tuesday,20,Auto Theft,35,Westminster-Branson,-79.455098,43.790363,301229
296203,Outside,2022.0,June,Tuesday,21,Auto Theft,137,Woburn,-79.234954,43.775740,301230
296204,Commercial,2022.0,May,Friday,12,Auto Theft,126,Dorset Park,-79.281037,43.765801,301231
296205,Outside,2022.0,June,Wednesday,16,Auto Theft,22,Humbermede,-79.542092,43.750849,301233

In [6]:
# Groupby Month

tdot_df_drp.groupby(by='occurrencemonth').count()['ObjectId']

occurrencemonth
April        24699
August       24472
December     22750
February     22457
January      25189
July         24785
June         27025
March        25070
May          27001
November     23827
October      24880
September    24051
Name: ObjectId, dtype: int64

In [8]:
# Groupby day of week

tdot_df_drp.groupby(by='occurrencedayofweek').count()['ObjectId']

occurrencedayofweek
Friday        44731
Monday        41245
Saturday      43918
Sunday        42267
Thursday      41681
Tuesday       40587
Wednesday     41777
Name: ObjectId, dtype: int64

In [9]:
# Groupby assault type

tdot_df_drp.groupby(by='mci_category').count()['ObjectId']

mci_category
Assault            158880
Auto Theft          40326
Break and Enter     58974
Robbery             28296
Theft Over           9730
Name: ObjectId, dtype: int64

In [13]:
# Groupby Year and Neighbourhood

tdot_df_drp.groupby(by=['occurrenceyear','Neighbourhood']).count()['ObjectId']